[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0"
django-environ = "*"
django-bootstrap4 = "*"
gunicorn = "*"
pillow = "*"
fontawesome = "*"
django-imagekit = "*"
django-debug-toolbar = "*"
channels = "*"
channels-redis = "*"

[requires]
python_piiversion = "3.8"
