
.head_title {
  max-width: 400px;
  margin: 10px auto -30px ;
  text-align: center;
  background-color: #eee;
  padding: 5px 0 5px 0;
  border: 1px solid rgba(96, 96, 96, 0.2);
  border-radius: 5rem;
}

.createcontainer {
  width: 100vw;
}

.createform {
  max-width: 450px;
  margin: 0 auto;
}

#id_title, #id_men_number, #id_women_number, #id_date, #id_time, #id_venue {
  color: #000;
}

#id_time {
  background-color: #fff;
  cursor: text;
}

.btn-square {
  padding: 0.8em 3.5em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  height: 50px;
  max-width: 240px;
  display: block;
  margin: 30px auto;
}

.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.half_form {
  width: 30%;
  display: inline-block;
}

.left_form {
  float: left;
  margin: 0 10px 0 0;
}

.fixed_form {
  margin-right: 50px;
}