body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p {
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

.navbar {
  background-color: #4169e1;
  height: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.nav-link:hover {
  text-decoration: none;
  color: aliceblue;
  opacity:0.6;
}

.mypage_button {
  color: white;
  display: block;
  padding: .5rem;
}
.mypage_button:hover {
  text-decoration: none;
  color: aliceblue;
  opacity:0.6;
}

.logout_button:hover {
  text-decoration: none;
  color: aliceblue;
  opacity:0.6;
}

.logout_button {
  color: white;
  display: block;
  padding: .5rem;
}

.nav-toppage {
  font-family: 'Amatic SC', cursive;
  cursor: default;
  font-size: 34px;
  margin: 0 20px 0 0;
}

.nav-toppage-link {
  color: #eee;
}

.nav-toppage-link:hover {
  text-decoration: none;
  color: aliceblue;
  opacity:0.6;
}