.loginPage {
  width: 100%;
  height: 100%;
  background-image: url("/staticfiles/images/top.jpg");
  background-size: cover;
}

.loginPage_contents {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.loginPage_contents_title {
  margin-top: 12vh;
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  cursor: default;
}

.loginPage_contents_btn {
  display: block;
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 30px;
  background: #4866c9;
  color: #fff;
  font-family: 'Amatic SC', cursive;
  cursor: pointer;
}