.matchingPage .header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #4866c9;
  border-bottom: 1px solid #e8e8e8;
}

.matchingPage .header_logo {
  position: absolute;
  left: 30px;
}

.matchingPage .header_logo > a {
  width: 40px;
  display: block;
}

.matchingPage .header_logo > a > img {
  width: 100%;
}

.matchingPage .matchingNum {
  text-align: center;
  font-size: 12px;
  color: #4866c9;
  margin-bottom: 20px;
}

.matchingPage .pageTitle {
  font-size: 20px;
  text-align: center;
}

.matchingPage .matchingList {
  margin-top: 30px;
  padding: 0;
}

.matchingPage .matchingList .matchingPerson {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.matchingPage .matchingPerson_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.matchingPage .matchingPerson_img > img {
  width: 100%;
}

.matchingPerson_title {
  width: 280px;
  font-size: 12px;
  color: #111111;
  margin: 0 0 0 20px;
}

.matchingPerson_venue {
  font-size: 12px;
  color: #111111;
  margin: 0 0 0 20px;
  width: 50px;
}

.matchingPerson_date {
  width: 140px;
  font-size: 12px;
  color: #111111;
  margin: 0 0 0 20px;
}

.matchingPerson_men {
  font-size: 12px;
  color: #111111;
  margin: 0 0 0 20px;
}

.matchingPerson_women {
  font-size: 12px;
  color: #111111;
  margin: 0 0 0 20px;
}

.matchingPerson_add {
  font-size: 12px;
  color: #111111;
  margin: 0 0 0 120px;
}

.matchlist_button {
  border: none;
  padding: 10px;
  background: #fd5068;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity .3s;
}

.matchingPage .matchingList form {
  position: absolute;
  right: 0;
}

.matchingPage .matchingList form .chatForm_btn {
  border: none;
  padding: 10px;
  background: #4866c9;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity .3s;
}

.matchingPage .matchingList form .chatForm_btn:hover {
  opacity: .7;
}

.username {
  font-size: 20px;
  width: 50px;
}

.listbox {
  height: 22px;
  width: 100%;
}

.matchlist_text_title {
  width: 55px;
  background: #999999;
  padding: 2px 4px;
  margin: 0 130px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  float: left;
}

.matchlist_text_venue {
  width: 45px;
  background: #999999;
  padding: 2px 4px;
  margin: 0 0 0 115px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  float: left;
}

.matchlist_text_date {
  width: 35px;
  background: #999999;
  padding: 2px 4px;
  margin: 0 25px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  float: left;
}

.matchlist_text_sex {
  width: 100px;
  background: #999999;
  padding: 2px 4px;
  margin: 0 100px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  float: left;
}