body {
  background-image: url("../images/nope_image.jpg"),
  url("../images/eye.jpg");
  background-position:
  /* 1枚目の背景画像の表示位置 */
  left 20px center,
  /* 2枚目の背景画像の表示位置 */
  right 20px center;

  background-repeat:
  /* 1枚目の背景画像の設定 */
  no-repeat,
  /* 2枚目の背景画像の設定 */
  no-repeat;

  background-size:
  /* 1、2枚目の背景画像の共通サイズ */
  50%;
  
}

.topPage {
  height: 100vh;
}

.topPage .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 610px;
  margin: 0 auto;
}

.topPage .nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.topPage .nav > ul > li {
  list-style: none;
}

.topPage .nav > ul > li.personIcon > i {
  color:#dccbcb;
}

.topPage .nav > ul > li.appIcon > a {
  width: 40px;
  display: inline-block;
}
.topPage .nav > ul > li.appIcon > a > img {
  width: 100%;
}
.topPage .nav > ul > li.messageIcon > i {
  color: #dccbcb;
}

.topPage #tinderslide > ul > li > img {
  width: 267px;
  height: 300px;
}

#tinderslide {
  height: 65vh;
}

.swipe_text {
  max-width: 400px;
  margin: 25px auto 25px;
  text-align: center;
  background-color: #eee;
  padding: 5px 0 5px 0;
  border: 1px solid rgba(96, 96, 96, 0.2);
  border-radius: 5rem;
}

.recruitment_number {
  margin: 10px 0;
}

.men_number {
  color: blue;
}

.women_number {
  color: red;
}