.createcontainer {
  width: 100vw;
}

.linkToCreate {
  color: #4866c9;
  max-width: 400px;
  margin: 0 auto;
}

.btn-square {
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  height: 50px;
  max-width: 300px;
  display: block;
  margin: 30px auto;
}

.btn-square:hover {
  /*ボタンを押したとき*/
  text-decoration: none;
  color: aliceblue;
  opacity:0.6;
}

.UserProfileList {
  padding: 0;
}

.UserProfileList .ProfileName {
  position: relative;
  list-style-type: none!important;/*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  background: #dbebf8;
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
}

.UserProfileList .ProfileName:before{ 
  display:inline-block; 
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}