{% extends "match/base.html" %}
{% load static %}
{% block content %}
<!-- {% bootstrap_css %}
{% bootstrap_javascript jquery='full' %} -->

<link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="signupPage">
    <header class="header">
        <div>募集フォームを作成</div>
    </header>
    <div class="container">
        <form class="mt-5" id="post_create" accept-charset="UTF-8" method="POST" action="{% url 'match:create' user.id %}">
        {% csrf_token %}

            <div class="form-group">
                <label>タイトル</label>
                {{ form.title }}
            </div>
            <div class="form-group">
              <label>募集人数</label>
              {{ form.number }}
            </div>
            <div class="form-group">
                <label>開催日</label>
                {{ form.date }}
            </div>
            <div class="form-group">
                <label>日時</label>
                {{ form.time }}
            </div>
            <div class="form-group">
                <label>開催地</label>
                {{ form.venue }}
            </div>
            {% if form.errors %}
                {{ form.non_field_errors }}
            {% endif %}

            <div class="text-center">
                {% buttons %}
                <input type="submit" class="btn submitBtn" value="投稿" />
                {% endbuttons %}
            </div>
        </form>
    </div>
</div>
{% endblock %}