{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/jTinder.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/postlist.css' %}">

<script src="{% static 'js/jquery.jTinder.js' %}"></script>
<script src="{% static 'js/jquery.transform2d.js' %}"></script>

<div class="topPage">
    <nav class="nav">
        <ul>
            <li class="personIcon">
                <a href="/">
                    <i class="fas fa-2x fa-user"></i>
                </a>
            </li>
            <li class="appIcon">
                <a href="/users">
                    <img src="{% static 'images/techpit-march-icon.png' %}" alt="Techpit march icon">
                </a>
            </li>
            <li class="messageIcon">
                <a href="{% url 'match:matching' user.id %}">
                    <i class="fas fa-2x fa-comments"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div id="tinderslide">
        <ul>
            {% for post in posts_list %}
            <li data-post_id="{{ post.id }}">
            <div class="postsName">{{ post.title }}</div>
            {% if DEBUG %}
                <img src="/media/{{ post.userinfo.image.origin }}">
            {% else %}
                <img src="https://storage.cloud.google.com/jointparty/{{ form.image.origin }}">
            {% endif %}
            <div class="like"></div>
            <div class="dislike"></div>
            <h3>制限人数  男 {{ post.men_number }} 人、女 {{ post.women_number }} 人</h3>

            </li>
            {% endfor %}
        </ul>
        <div class="noUser">近くにお相手がいません。</div>
    </div>
    <div class="actions" id="actionBtnArea">
        {% csrf_token %}
        <a href="#" class="dislike"><i class="fas fa-times fa-2x"></i></a>
        <a href="#" class="like"><i class="fas fa-heart fa-2x"></i></a>
    </div>
</div>
<script>
    const postsNum = {{ object_list }}
    let currentPostsIndex = 0;
    var postReaction = function (post_id, reaction) {
        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
            }
        });
        $.ajax({
            type: "POST",
            headers: {"X-CSRFToken": getCookie("csrftoken")},
            url: "/reactions/",
            data: {
                post_id: post_id,
                reaction: reaction,
            },
            success: function(j_data){
                console.log("success")
            }
        });
    }
    $("#tinderslide").jTinder({
        onDislike: function (item) {
            currentPostsIndex++;
            checkPostsNum();
            var post_id = item[0].dataset.post_id
            postReaction(post_id, 'dislike')
        },
        onLike: function (item) {
            currentPostsIndex++;
            checkPostsNum();
            var post_id = item[0].dataset.post_id
            postReaction(post_id, 'like')
        },
        animationRevertSpeed: 200,
        animationSpeed: 400,
        threshold: 1,
        likeSelector: '.like',
        dislikeSelector: '.dislike'
    });
    $('.actions .like, .actions .dislike').click(function(e){
        e.preventDefault();
        $("#tinderslide").jTinder($(this).attr('class'));
    });
    function checkPostsNum() {
        if (currentPostsIndex === postsNum){
            $(".noPosts").addClass("is-active");
            $("#actionBtnArea").addClass("is-none")
            return;
        }
    }
    function getCookie(c_name) {
        if(document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if(c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if(c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }
</script>

    <!-- <script>
      $("#tinderslide").jTinder();
      $('.actions .like, .actions .dislike').click(function(e){
          e.preventDefault();
          $("#tinderslide").jTinder($(this).attr('class'));
      });
    </script> -->




    <!-- <div class="linkToLogin"><a href="/users/{{user.id}}/create">募集フォームを開く</a></div>
    {% for post in posts %}
        {{ post.title }}<br>
    {% endfor %}
</div> -->