{% extends "match/base.html" %}
{% load static %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/jTinder.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/postlist.css' %}">

<script src="{% static 'js/jquery.jTinder.js' %}"></script>
<script src="{% static 'js/jquery.transform2d.js' %}"></script>

<div class="topPage">
    <div class="swipe_text">
        気になる投稿を気軽にスワイプしてください
    </div>
    <div id="tinderslide">
        <ul>
            {% for post in posts_list %}
            <li data-post_id="{{ post.id }}">
            <div class="postsName">{{ post.title }}</div>
            {% if DEBUG %}
                <img src="/media/{{ post.userinfo.image.origin }}">
            {% else %}
                <img src="https://storage.cloud.google.com/jointparty/{{ post.userinfo.image.origin }}">
            {% endif %}
            <div class="like"></div>
            <div class="dislike"></div>
            <h3 class="recruitment_number">募集人数</h3>
            {% if post.userinfo.sex == "man" %}
                <p><b class="men_number">男性 {{ post.men_number| add:-1 }}人</b>／{{ post.men_number }}人　<b class="women_number">女性 {{ post.women_number }}人</b>／{{ post.women_number }}人</p>
            {% else %}
                <p><b class="men_number">男性 {{ post.men_number }}人</b>／{{ post.men_number }}人　<b class="women_number">女性 {{ post.women_number| add:-1 }}人</b>／{{ post.women_number }}人</p>
            {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="noUser">全ての投稿をスワイプしました<br><br>
            <a href="{% url 'match:matching' request.user.id %}"  class="btn-square">お気に入り一覧</a>
        </div>

    </div>
    <div class="actions" id="actionBtnArea">
        {% csrf_token %}
        <a href="#" class="dislike"><i class="fas fa-times fa-2x"></i></a>
        <a href="#" class="like"><i class="fas fa-heart fa-2x"></i></a>
    </div>
</div>
<script>
    const postsNum = {{ object_list }}
    let currentPostsIndex = 0;
    var postReaction = function (post_id, reaction) {
        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'),
            }
        });
        $.ajax({
            type: "POST",
            headers: {"X-CSRFToken": getCookie("csrftoken")},
            url: "/reactions/",
            data: {
                post_id: post_id,
                reaction: reaction,
            },
            success: function(j_data){
                console.log("success")
            }
        });
    }
    $("#tinderslide").jTinder({
        onDislike: function (item) {
            currentPostsIndex++;
            checkPostsNum();
            var post_id = item[0].dataset.post_id
            postReaction(post_id, 'dislike')
        },
        onLike: function (item) {
            currentPostsIndex++;
            checkPostsNum();
            var post_id = item[0].dataset.post_id
            postReaction(post_id, 'like')
        },
        animationRevertSpeed: 200,
        animationSpeed: 400,
        threshold: 1,
        likeSelector: '.like',
        dislikeSelector: '.dislike'
    });
    $('.actions .like, .actions .dislike').click(function(e){
        e.preventDefault();
        $("#tinderslide").jTinder($(this).attr('class'));
    });
    function checkPostsNum() {
        if (currentPostsIndex === postsNum){
            $(".noUser").addClass("is-active");
            $("#actionBtnArea").addClass("is-none")
            return;
        }
    }
    function getCookie(c_name) {
        if(document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if(c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if(c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }
</script>
{% endblock %}