{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<div class="loginPage">
    <div class="container">
        <form method="GET" action="/login/">
            <div class="loginPage_contents">
                <h1 class="h3 loginPage_contents_title">JointParty</h1>
                {% csrf_token %}
                {% buttons %}
                <button type="submit" class="btn loginPage_contents_btn">
                    ログイン
                </button>
                {% endbuttons %}
            </div>
        </form>
    </div>
</div>
