{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">

<!-- {% bootstrap_css %}
{% bootstrap_javascript jquery='full' %} -->

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="loginPage">
    <div class="container">
        <form method="GET" action="/login/">
            <div class="loginPage_contents">
                <h1 class="loginPage_contents_title">J o i n t P a r t y</h1>
                <!-- {% csrf_token %} -->
                <!-- {% buttons %} -->
                <button type="submit" class="loginPage_contents_btn">
                    ログイン
                </button>
                <!-- {% endbuttons %} -->
            </div>
        </form>
    </div>
</div>
